* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bar {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 50px;
  align-items: center;
  height: 7vh;

  box-shadow: 0 10px 20px 0px #8187367e;
  background-color: #bdbe7d50;
  transition: all 0.5s ease-in-out;
  z-index: 100 !important;
}
.extend {
  margin-bottom: 32vh;
}
.banner {
  margin-right: auto;
  font-size: 30px;
  font-weight: bold;
  width: 40%;
  color: rgb(61, 29, 61);
  padding-bottom: 5px;
  z-index: 100;
}
/* .banner img {
  width: 20%;
  height: auto;
} */
.links {
  text-decoration: none;
  position: relative;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  padding: 15px;
  border-bottom: 0px solid rgb(145, 186, 214);
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}
.links::after {
  content: "";
  width: 0% !important;
  display: inline-block;
  height: 3px;
  border-radius: 90px !important;
  background-color: black;
  position: absolute;
  bottom: 6px;
  left: 14px;
  transition: all 0.3s ease-in-out !important;
  margin: auto;
}

.links:hover::after {
  width: 40% !important;
}

#nav {
  display: flex;
  justify-content: space-around;
  width: 45vw;
  transition: 0.4s ease-in-out;
}

.burger {
  display: none;
  z-index: 100;
}

@media screen and (max-width: 900px) {
  #nav {
    display: flex;
    width: 100vw;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 7vh;
    background-color: rgba(189, 190, 125, 0.314);
    transform: translateY(-200%);
    transition: 0.5s ease-in-out;
    text-align: center;

    text-align: center;

    transition: 0.5s;
  }

  .banner {
    width: 70%;
    font-size: 22px;
  }

  .links:first-child {
    padding-top: 25px;
    margin-top: 0;
  }
  .burger {
    display: block;
    padding: 10px;
    width: 30%;
    text-align: end;
  }
  #nav.active {
    transform: translateY(11%);
  }
  .links:hover::after {
    content: "";
    width: 7%;
    display: inline-block;
    height: 3px;
    border-radius: 25%;
    background-color: black;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 95%;
  margin: 100px auto;
  z-index: -1;
  overflow: none;
  gap: 50px;
}
.home .homeChild {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 6px 6px 20px 2px #bdbf5c4f;
  text-align: center;
  align-items: center;
}
.home .homeChild:first-child {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.home h1 {
  margin-top: 50px;

  background: -webkit-linear-gradient(left, #c4cd64, #3f680291);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.home h1 span {
  display: block;
  font-size: 60px;
  font-weight: 800;
}
.home p {
  background: -webkit-linear-gradient(left, #c4cd64, #3f680291);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.home .linkHeader::after {
  content: none;
}
.home button {
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 10px 0 #5a680291;
  background-color: #c6cd763b;
  margin: 20px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.1s ease-in-out;
}
.home button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 15px 0 #5a680291;
}
@media screen and (max-width: 900px) {
  .home {
    margin: auto;
    flex-direction: column;
  }
  .home .homeChild {
    width: 100%;
    margin: 30px;
  }

  .home h1 {
    font-size: 35px;
  }
  .home h1 span {
    font-size: 40px;
  }
  .home p {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .home .homeChild {
    height: 250px;
    margin: 50px auto;
  }
  .home h1 {
    font-size: 25px;
  }
  .home h1 span {
    font-size: 30px;
  }
  .home p {
    font-size: 20px;
  }
}
.services {
  margin: 10px;
}
.services p {
  font-size: 14px;
  line-height: 1.5;
}
.linkHeader {
  text-align: center;
}
.linkHeader::after {
  content: "";
  display: inline-block;
  background-color: #bfc20f !important;
  height: 10px;
  width: 10%;
  margin: auto;
}
.linkHeader h1 {
  font-size: 30px;
  margin: 10px;
  font-weight: 600;
}
.linkHeader p {
  text-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
}
.serviceList {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 40px auto;
}
.serviceList h1 {
  font-weight: 600;
  text-align: left;
}
.serviceList h1::after {
  content: "";
  display: block;
  height: 1px;
  width: 20%;
  margin: 20px 0px;

  background-color: #bfc20f;
}
.serviceSection {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.serviceSection .button {
  text-align: center;
}
.serviceSection .button button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.serviceSection .button button:hover {
  cursor: pointer;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2),
    0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.serviceType {
  display: flex;
  width: 100%;
}
.serviceInfo {
  width: 20%;
}
.serviceExplanation {
  width: 80%;

  padding: 10px;
}
@media screen and (max-width: 900px) {
  .serviceType {
    flex-direction: column;
  }
  .serviceInfo {
    width: 100%;
  }
  .serviceExplanation {
    width: 100%;
  }
}

.footer {
  width: 100%;

  /* background-color: #b8c26160; */
  background-image: linear-gradient(#b8c26185, #c3c7a978);
}
.footerDetails {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  text-align: left;
  padding: 20px;
  color: black !important;
}
.footerInfo {
  margin: 10px;
  flex: 1;
  width: 18.75%;
  line-height: 1.8;
}

.footerInfo h1 {
  font-size: 24px;
  text-align: left;
  font-weight: 500;
}
.footerInfo li {
  list-style-type: none;
}
.footerInfo h1::after {
  content: "";
  display: inline-block;
  background-color: black;
  height: 1px;
  width: 100%;
  align-items: center;
  margin: auto;

  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .footerDetails {
    width: 90%;
    margin: auto;
    padding: 10px;
  }
  .footerInfo {
    width: 100%;
    flex: auto;
  }
}
.products {
  width: 100%;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 95%;
  margin: 40px auto;
}
.productCard {
  position: relative;

  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.219),
      rgba(255, 255, 255, 0.371)
    ),
    url(https://images.pexels.com/photos/258244/pexels-photo-258244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
}
.productInfo {
  background-color: white;
  position: absolute;
  padding: 10px 30px;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  transition: 0.5s ease-in-out;
}
.productInfo h1 {
  font-size: 28px;
  text-align: center;
}
.productInfo h1::after {
  content: "";
  display: block;
  background-color: rgba(196, 200, 85, 0.581);
  width: 50%;
  margin: 5px auto;
  height: 2px;
}
.redirectLink {
  text-decoration: none;
  color: black;
}

.productCard:hover {
  cursor: pointer;
  box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2),
    0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.productCard:hover .productInfo {
  height: 90%;
}

@media screen and (max-width: 900px) {
  .productList {
    flex-direction: column;
  }
  .productCard {
    position: relative;
    width: 100%;
  }

  .productInfo {
    position: absolute;
    padding: 10px 30px;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  overflow-x: hidden;
}
.linkHeader {
  text-align: center;
  margin-top: 50px;
}
.linkHeader::after {
  content: "";
  display: inline-block;
  background-color: blue;
  height: 2px;
  width: 10%;
  margin: auto;
  border-radius: 10px;
}
.linkHeader h1 {
  font-size: 30px;
  margin: 10px;
  font-weight: 600;
}
.linkHeader p {
  text-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
}
.prolists {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
}
.prolists {
  background: url("https://img.freepik.com/premium-vector/line-dot-pattern-background_103740-966.jpg?w=2000");
  background-repeat: repeat;
  background-size: contain;
}
.linkheader {
  margin-bottom: 45px;
  display: block;
}
.prolist {
  width: 95%;
  display: flex;
  flex-direction: row;
  height: 50vh;

  object-fit: cover;
}
.listinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
  width: 50%;
}
.listinfo h2 {
  color: rgba(115, 154, 68, 1);
}
.listinfo p {
  font-weight: 600;
  font-size: 18px;
}

.prolist img {
  object-fit: cover;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .prolist {
    background-color: linear-gradient(
      to top,
      rgba(255, 0, 0, 0),
      rgb(238, 215, 11)
    ) !important ;
    flex-direction: column !important;
    height: 70vh;
  }
  .prolist img {
    width: 100%;
    height: 35%;
  }
  .listinfo {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .prolist {
    background-color: linear-gradient(
      to top,
      rgba(255, 0, 0, 0),
      rgb(238, 215, 11)
    ) !important;
    flex-direction: column !important;
    height: 80vh;
  }
  .prolist img {
    width: 100%;
    height: 25%;
  }
  .listinfo {
    width: 100%;
    padding: 30px;
  }
}
.allcontacts {
  display: grid;
  place-content: center;
}

.contacts {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 120px;
  justify-content: center;
  align-items: center;
}

.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* padding-right: 30px;
  padding-left: 30px; */
  height: 8vw;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 30px;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
}
.contact h3 {
  color: rgba(115, 154, 68, 0.9);
}

@media screen and (max-width: 900px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding-left: 20px;
    gap: 90px;
  }
  .contact {
    border: none !important;
    height: fit-content;
    width: fit-content;
    padding: 30px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 75vw;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;

  margin-bottom: 50px;
  padding: 15px;
  border-radius: 10px;
  background-color: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgba(238, 215, 11, 0.9)
  );
}
/* .form{
  background: url("https://img.freepik.com/premium-vector/line-dot-pattern-background_103740-966.jpg?w=2000");
  background-repeat: repeat;
  background-size: contain;
} */

.name_email {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}
.subject {
  width: 100%;
}
#subject {
  width: 100%;
}
#name {
  width: 50%;
}
#emailin {
  width: 50%;
}
.input {
  height: 45px;
}
.messages {
  width: 100%;
  height: 35vh;
}
#message {
  width: 100%;
  height: 100%;
}
.submit {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  color: rgba(115, 154, 68, 0.9);
}
.input {
  border-radius: 10px;
  padding: 15px;
  outline: none;
  border: 2px solid rgba(115, 154, 68, 0.9);
  box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.2);
}

.chat {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 20vw;
  height: 37vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
  background-color: #cfd239;

  transition: 0.3s ease-in;
  z-index: 1000;
  border-radius: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
/* .hello{
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: aqua;

} */
/* .chat_esc{
  display: flex;
  flex-direction: row;
  gap:9px;
  width: fit-content;
} */
.comment {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.input_send {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.input_send textarea {
  width: 85%;
  padding: 10px;
  border-radius: 30px;
}
/* .send{
  position:absolute;
  right: 7px;
  bottom: 30px;
} */
@media screen and (max-width: 1490px) {
  .chat {
    width: 30vw;
    height: 35vh;
  }
}
@media screen and (max-width: 800px) {
  .chat {
    width: 40vw;
    height: 35vh;
  }
}
@media screen and (max-width: 500px) {
  .chat {
    width: 60vw;
    height: 39vh;
  }
}
